:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

.header {
  padding: 2rem 1rem;
  text-align: center;
  background-image: url(../images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--very-pale-cyan);
}

.header__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.header__logo {
  width: 120px;
}

.header__title {
  font-size: 1.7rem;
}

.header__description {
  font-size: 1.04rem;
}

.header__button {
  margin: 2rem 0;
  display: block;
}

.button {
  outline: none;
  border: none;
}

.button--pink {
  background-color: var(--pink);
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 50px;
}

.button--white {
  background-color: #fff;
  color: #000;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header__img,
.about__img {
  max-width: 100%;
}

@media screen and (min-width: 1000px) {
  .header {
    padding-top: 4rem;
  }

  .header__top-bar,
  .header__info {
    max-width: 1300px;
    margin: 0 auto;
  }

  .header__logo {
    width: 200px;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .header__description {
    font-size: 1.2rem;
  }

  .header__button {
    display: inline-block;
    padding: 1.5rem 5rem;
  }

  .button--white {
    padding: 1rem 5rem;
    display: block;
  }

  .header__info {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    text-align: left;
  }

  .header__img {
    width: 50%;
  }
}

.main {
  position: relative;
  padding: 1rem;
}

.about {
  text-align: center;
  padding: 2rem;
  margin: 2rem 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about:last-of-type {
  margin-bottom: 10rem;
}

.about__description {
  color: var(--grayish-blue);
}

@media screen and (min-width: 1000px) {
  .about {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 5rem;
  }

  .about__text {
    text-align: left;
    order: 1;
  }

  .about__figure {
    order: 2;
  }

  .about__figure--left {
    order: 1;
  }

  .about:last-of-type {
    margin-bottom: 20rem;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -100px;
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 10px;
  width: 85%;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aside__title {
  font-size: 1.06rem;
}

@media screen and (min-width: 1000px) {
  .aside {
    padding: 4rem;
  }

  .aside__title {
    font-size: 1.7rem;
  }
}

.footer {
  color: #fff;
  padding: 10rem 1rem 3rem;
  background-color: var(--very-dark-cyan);
}

.footer__logo {
  filter: grayscale(1) brightness(100);
  width: 55%;
}

.contact__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.list__item {
  margin-top: 20px;
}

.list__item:first-child {
  margin-top: 50px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 3rem auto;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.footer__p {
  font-size: 0.9rem;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .footer {
    display: grid;
    justify-content: center;
  }

  .footer__body {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    gap: 3rem;
  }

  .list__item:first-child {
    margin-top: 20px;
  }

  .footer__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__logo {
    width: 20%;
  }

  .footer__p {
    grid-column: 3 / 4;
    text-align: left;
  }

  .footer__social {
    margin: 2rem auto;
  }
}
